
<div class="col-md-3">
  <h1>Tables</h1>
  <div class="tables">
    {{#each table in controller}}
      {{#link-to 'table' table class='btn btn-warning btn-large'}}{{table.id}}{{/link-to}}
    {{/each}}
  </div>

  <p>{{#link-to 'items' class="btn btn-primary"}}View Menu{{/link-to}}</p>
</div>

<div class="col-md-9">
  {{outlet}}
</div>
